{% extends 'base.html' %}
{% block content %}
  <p>작성자 : {{ article.user }}</p>
  <img src={{ article.image.url }} alt="" width="100%">
  <p>title : {{ article.title }}</p>
  <p>content : {{ article.content }}</p>
  <a href="{% url 'articles:update' article.pk %}">UPDATE</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button>DELETE</button>
  </form>
  <hr>
  <p>{{ comments|length }}개의 댓글이 있습니다.</p>
  {% for comment in comments %}
    <p>작성자 : {{ comment.user }}</p>
    {{ comment.content }}
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <button>DELETE</button>
    </form>
    <hr>
  {% endfor %}
  <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button>CREATE</button>
  </form>
  <a href="{% url 'articles:index' %}">BACK</a>
{% endblock content %}