{% extends 'base.html' %}
{% block content %}
  <h2>INDEX PAGE</h2>
  {% if request.user.is_authenticated %}
    <p>hello, {{ request.user }}</p>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <button>LOGOUT</button>
    </form>
    <a href="{% url 'accounts:update' %}">UPDATE</a>
    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <button>DELETE</button>
    </form>
  {% else %}
    <a href="{% url 'accounts:signup' %}">SIGNUP</a>
    <a href="{% url 'accounts:login' %}">LOGIN</a>
  {% endif %}
  <hr>
  <a href="{% url 'articles:create' %}">CREATE</a>
  <hr>
  {% for article in articles %}
    {{ article.title }}
    <a href="{% url 'articles:detail' article.pk %}">DETAIL</a>
    <hr>
  {% endfor %}
{% endblock content %}